<!DOCTYPE html>
<html ng-app="mapcontrol">
 <head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="style.css">
  <title> Initial Commit</title>
 </head>
 <body>
  
      <div class="container" ng-controller="AppCtrl">
   <button id="setting">settings</button>
   <div id="menu">
   	 <h4> &nbsp Refresh Rate: </h4>
<select class="mySelect" name="names" ng-model="select.rate"  ng-init="select.rate=select.names[3]" >
  <option value={{select.names[0]}}>Every 3 secs
  <option value={{select.names[1]}}>Every 6 secs
  <option value={{select.names[2]}}>Every 9 secs
  <option value={{select.names[3]}}>Never
</select> <br><br>
<h4> &nbsp Choose Your Route: </h4>
<select class="mySelect" name="names" ng-options="vehicle.routeNumber for vehicle in vehicles| orderBy:'routeNumber'|unique:'routeNumber'" ng-model="SelectedRoute">
<option value="">All</option>
</select><br><br>
<button type="button" ng-click="refreshing()" class="btn btn-primary">Apply</button>
   </div>
  <div id="map"></div>
  
 </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
   <script src="node_modules/angular-filter/dist/angular-filter.min.js"></script>
 <script src="http://maps.googleapis.com/maps/api/js"></script>
 <script src="controller.js"></script>


 </html>